<h1 class="title">all the places</h1>


<div class="col-10 offset-1">
  <% @places.each do |place| %>
    <h2><%= link_to place.name, place_path(place) %></h2>
    <p><%= place.address %></p>
    <p><%= place.description %></p>
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <hr>

  <% end %>
</div>

<div class="pag">
  <%= paginate @places %>
</div>
